.NavBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.NavBar {
    background-color: #333;
    overflow: hidden;
}

.NavBar a:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

.NavBar a.active {
    background-color: rgb(255, 0, 0);
    color: white;
}