li a {
	background: rgba(121, 252, 232, 0.56);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.4px);
	-webkit-backdrop-filter: blur(6.4px);
	border: 1px solid rgba(121, 252, 232, 0.41);
	transition: 0.6s;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-decoration: none;
	color: inherit;
}

li a:hover {
	transform: scale(1.1);
	background: rgba(0, 249, 229, 0.56);
}

li {
	list-style: none;
	margin-bottom: 0.5em;
	display: flex;
}